/* css form contact */
.contact-form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.01rem;
    aspect-ratio: 2/1;
}

.contact-form-container .contact-left {
    height: 100%;
    position: relative;
}

.contact-left .left-image {
    width: 100%;
    aspect-ratio: 1/1;
}

.left-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.contact-left .contact-info-group {
    width: 60%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6rem;
}

.contact-info-group .text-above {
    font-size: 2rem;
    font-weight: 400;
}

.contact-info-group h1 {
    font-size: 4rem;
    font-weight: 400;
}

.contact-info-group .text-below {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.contact-form-container .contact-right {
    background-color: #DAE3DB;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.2rem solid var(--button-color);
}

.contact-right .contact-form-group {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact-form-group .input-group {
    display: flex;
    gap: 1rem;
}

.input-group input {
    width: 50%;
}

.contact-form-group textarea {
    width: 100%;
}

.input-group input,
.contact-form-group textarea {
    padding: 1.2rem 1rem 1.2rem 2rem;
    color: var(--input-text-color);
    font-family: "Days One", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    background: linear-gradient(var(--input-color), var(--input-color)) padding-box,
        linear-gradient(180deg, #fff, var(--button-color)) border-box;
    border: 0.3rem solid transparent;
    border-radius: 1.5rem;
}

.input-group input:hover,
.contact-form-group textarea:hover {
    background: linear-gradient(var(--background-color), var(--background-color)) padding-box,
        linear-gradient(180deg, #A5CA8A, var(--button-color)) border-box;
}

.input-group input::placeholder,
.contact-form-group textarea::placeholder {
    color: var(--input-text-color);
}

.input-group input:hover::placeholder,
.contact-form-group textarea:hover::placeholder {
    color: var(--button-color);
}

.contact-right .btn-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: 3rem;
}

.btn-wrapper .btn-submit-form {
    padding: 1rem 6rem;
    color: var(--button-color);
    font-family: "Days One", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    background: linear-gradient(#DAE3DB, #DAE3DB) padding-box,
        linear-gradient(-90deg, #E7EDDD, var(--button-color)) border-box;
    border: 0.3rem solid transparent;
    border-radius: 1.5rem;
}

.btn-wrapper .btn-submit-form:hover {
    transition: 0.6;
    background: linear-gradient(#E7EDDD, #E7EDDD) padding-box,
        linear-gradient(90deg, #E7EDDD, var(--button-color)) border-box;
}

/* css section contact method */
.contact-method-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 10rem 0;
}

.contact-method-container .method-group {
    position: relative;
}

.contact-method-container .method-image-1 {
    background: url('../assets/imgs/contact_us/contact_widget_2.jpeg'), lightgray 50% / cover no-repeat;
}

.contact-method-container .method-image-2 {
    background: url('../assets/imgs/contact_us/contact_widget_3.jpeg'), lightgray 50% / cover no-repeat;
}

.contact-method-container .method-image-3 {
    background: url('../assets/imgs/contact_us/contact_widget_1.jpeg'), lightgray 50% / cover no-repeat;
}

.method-group .method-item {
    width: 100%;
    aspect-ratio: 1/1;
    background-size: contain;
    background-position: center;
    opacity: 0.6;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.method-group .border-above {
    border-top: 0.4rem solid var(--button-color);
}

.method-group .border-below {
    border-bottom: 0.4rem solid var(--button-color);
}

.method-info {
    position: absolute;
    z-index: 1;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 3rem 3rem 3rem;
}

.method-info .method-icon-custom {
    font-size: 6rem;
    color: rgba(64, 61, 56, 0.5);
}

.method-info h3 {
    font-size: 2rem;
    color: #403D38;
    font-weight: 400;
}

.method-info p {
    color: #AC7313;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

/* css section map */
.map-container .mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 445px;
}

.map-container .gmap_canvas {
    overflow: hidden;
    background: none;
    width: 100%;
    height: 445px;
    border-radius: 2rem;
}

.map-container .gmap_iframe {
    width: 100%;
    height: 445px;
}