@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 0;
}

.logo-wrapper a {
    display: flex;
    align-items: center;
}

.logo-wrapper img {
    width: auto;
    height: 7.4rem;
}

.header-menu .menu-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 4rem;
}

.menu-list li a {
    color: var(--menu-letter-color);
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
}

.menu-list li a:hover,
.menu-list li a.active {
    color: #5D5E5C;
}

.menu-list li.menu-item-mobile {
    display: none;
}

.header-container .icon-wrapper {
    display: flex;
    gap: 3.4rem;
}


/* Icon menu */
.icon-menu {
    display: flex;
    flex-flow: column;
    gap:.8rem;
    cursor: pointer;
    margin-left: auto;
  }
  
  .icon-menu-item {
    display: block;
    width: 3rem;
    height: 0.3rem;
    background-color: var(--background-color);
    transition: 0.4s;
  }
  
  .active .icon-menu-item:nth-child(1) {
    transform: translate(0, 1.1rem) rotate(-45deg);
  }
  
  .active .icon-menu-item:nth-child(2) {opacity: 0;}
  
  .active .icon-menu-item:nth-child(3) {
    transform: translate(0, -1.1rem) rotate(45deg);
  }

/* css responsive */
.header-container #btn-mobile {
    display: none;
}



@media screen and (max-width: 768px) {
    .logo-wrapper img {
        width: auto;
        height: 6rem;
    }
    .header-container {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .header-container .icon-wrapper {
        display: none;
    }
    .header-container #btn-mobile {
        display: flex;
        position: relative;
        z-index: 10;
    }
    .header-menu {
        background-color: var(--button-color);
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        display: none;

    }
    .header-menu.active {
        display: block;
    }

    .header-menu .menu-list {
        flex-flow: column;
        align-items: center;
        margin:  2.4rem 0;
    }

    .menu-list li {
       width: 100%;
    }
    
    .menu-list li a {
        color: #fff;
        font-size: 2.5rem;
        display: block;
    }

    .menu-list li a.active {
        color: #afacac;
    }

    .menu-list li.menu-item-mobile {
        display: block;
    }
}