@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-wrapper a {
    display: flex;
    align-items: center;
}

.header-menu .menu-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 4rem;
}

.menu-list li a {
    color: var(--menu-letter-color);
    font-size: 2rem;
    text-align: center;
}

.menu-list li a:hover {
    color: #5D5E5C;
}

.menu-list li.menu-item-mobile {
    display: none;
}

.header-container .icon-wrapper {
    display: flex;
    gap: 3.4rem;
}

/* css responsive */
.header-container #btn-mobile {
    display: none;
}

.header-container #btn-close,
.header-container .icon-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .header-mobile {
        background-color: var(--button-color);
        position: absolute;
        z-index: 1;
    }

    .header-container-mobile-menu {
        justify-content: center;
    }

    .header-container-mobile-close {
        justify-content: space-between;
    }

    .header-menu .menu-list {
        display: none;
    }

    .header-menu .menu-list.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 2rem 2rem;
        gap: 0;
    }

    .menu-list li {
        padding: 2rem;
    }

    .menu-list li.menu-item-mobile {
        display: block;
    }

    .menu-list li a {
        color: #fff;
        font-size: 2.5rem;
    }

    .header-container .icon-wrapper {
        display: none;
    }

    .header-container #btn-mobile {
        display: flex;
        align-items: center;
        transition: 0.8s ease-in-out;
    }

    #btn-mobile .icon-menu {
        display: block;
        font-size: 8rem;
        color: #fff;
        cursor: pointer;
    }

    #btn-close .icon-menu {
        display: block;
        font-size: 8rem;
        color: #fff;
        cursor: pointer;
        padding: 0rem 3rem;
    }

    .header-container #btn-close.active {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 8rem;
        color: #fff;
        transition: 0.8s ease-in-out;
    }
}