.our-plant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.other-products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-plant-container .plants-group,
.other-products-container .plants-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem 2.4rem;
    padding: 10rem 0;
}

.plants-group .plants-item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    padding: 1.5rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--primary-color);
}

.plants-item .plant-image {
    padding: 0 1rem;
}

.heart-custom {
    font-size: 3rem;
    color: #A1A39A;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    z-index: 1;
}

.plants-item .plants-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.plants-info .name {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.icon-star-group .star-custom {
    font-size: 1.9rem;
    color: var(--star-color);
}

.plants-info .price {
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.plants-info .price span {
    color: #537E2E;
    text-decoration: line-through;
    font-size: 1.7rem;
    font-weight: 400;
}

.plants-item .plants-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.plants-btn .btn-detail {
    padding: 0.5rem 1rem;
    background-color: #A5CA8A;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Days One', sans-serif;
    border: none;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-detail .icon-close {
    width: 1.8rem;
    height: 2rem;
}

.plants-btn .btn-detail:hover {
    background-color: #7DAD76;
}

.btn-detail:hover .icon-close {
    display: none;
}

.btn-detail .icon-open {
    display: none;
}

.btn-detail:hover .icon-open {
    width: 1.8rem;
    height: 2rem;
    display: block;
}

.plants-btn .btn-add {
    padding: 0.5rem 1rem;
    background-color: var(--button-normal-color);
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Days One', sans-serif;
    border: none;
    border-radius: 5rem;
    line-height: 2rem;
}

.plants-btn .btn-add:hover {
    background-color: var(--primary-color);
}

.our-plant-container .btn-view-more,
.other-products-container .btn-view-more {
    padding: 2rem 6.3rem;
    border-radius: 5rem;
    background: var(--primary-color);
    border: none;
    color: #fff;
    font-family: "Days One", sans-serif;
    font-size: 2rem;
    font-weight: 400;
}