.product-banner {
    padding-top: 8rem;
}

.product-banner-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #214935;
    position: relative;
    margin-bottom: 10rem;
}

.product-banner-container .banner-left {
    background-color: #fff;
    margin: 3rem 7.5rem 3rem 7.5rem;
    grid-column: 1/3;
    border-radius: 3rem 0;
}

.banner-left .banner-left-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 4rem 0 1.5rem;
}

.banner-left-overlay h1 {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 400;
    color: var(--button-normal-color);
}

.banner-left-overlay h1 strong {
    font-size: 6rem;
    font-weight: 400;
    color: var(--button-color);
}

.banner-left-overlay p {
    font-size: 3.5rem;
    font-family: 'Delius', cursive;
    font-weight: 400;
}

.banner-left-overlay .btn-shop-now {
    display: flex;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 1.5rem;
    background-color: var(--button-color);
    color: #fff;
    font-family: "Days One", sans-serif;
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 400;
    cursor: pointer;
}

.banner-left-overlay .btn-shop-now:hover {
    background-color: var(--button-normal-color);
}

.banner-left .banner-left-image {
    position: absolute;
    bottom: 0;
    left: 0;
}

.product-banner-container .banner-right {
    background-color: #fff;
    margin: 3rem 7.4rem 0 0;
    border-radius: 10rem 10rem 0 0;
}

.banner-right .banner-right-image {
    position: absolute;
    bottom: 1.5rem;
    right: 6.5rem;
    z-index: 2;
}

.banner-right .img-shadow {
    height: 58px;
    width: 280px;
    z-index: 1;
    border-radius: 50%;
    background: #D9D9D9;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
    filter: blur(5px);
    position: absolute;
    bottom: 1.5rem;
    right: 8.5rem;
}

/*  */
.our-plant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.other-products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}


.our-plant-container .plants-group,
.other-products-container .plants-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem 2.4rem;
    padding: 10rem 0 7rem;
}

.plants-group .plants-item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    padding: 1.5rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--primary-color);
}

.plants-item .plant-image {
    padding: 0 1rem;
}

.heart-custom {
    font-size: 3rem;
    color: #A1A39A;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    z-index: 1;
}

.plants-item .plants-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.plants-info .name {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.icon-star-group .star-custom {
    font-size: 1.9rem;
    color: var(--star-color);
}

.plants-info .price {
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.plants-info .price span {
    color: #537E2E;
    text-decoration: line-through;
    font-size: 1.7rem;
    font-weight: 400;
}

.plants-item .plants-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.plants-btn .btn-detail {
    padding: 0.5rem 1.5rem;
    background-color: #A5CA8A;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Days One', sans-serif;
    border: none;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-detail .icon-close {
    width: 1.8rem;
    height: 2rem;
}

.plants-btn .btn-detail:hover {
    background-color: var(--input-color);
}

.btn-detail:hover .icon-close {
    display: none;
}

.btn-detail .icon-open {
    display: none;
}

.btn-detail:hover .icon-open {
    width: 1.8rem;
    height: 2rem;
    display: block;
}

.plants-btn .btn-add {
    padding: 0.5rem 1rem;
    background-color: var(--button-normal-color);
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Days One', sans-serif;
    border: none;
    border-radius: 5rem;
    line-height: 2rem;
}

.plants-btn .btn-add:hover {
    background-color: var(--primary-color);
}

.btn-view-more {
    padding: 2rem 6.3rem;
    border-radius: 5rem;
    background-color: var(--button-normal-color);
    border: none;
    color: #fff;
    font-family: "Days One", sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.btn-view-more:hover {
    background-color: var(--primary-color);
}

@media screen and (min-width: 769px) and (max-width: 1152px) {

    .our-plant-container .plants-group,
    .other-products-container .plants-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* gap: 5rem 2.4rem; */
        /* padding: 10rem 0 7rem; */
    }
}

@media screen and (max-width: 768px) {

    .our-plant-container .plants-group,
    .other-products-container .plants-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 5rem 2.4rem; */
        /* padding: 10rem 0 7rem; */
    }
}