@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Delius&family=Great+Vibes&family=Lato&family=Montserrat&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

:root {
    --background-color: #F4F3F3;
    --primary-color: #567E32;
    --secondary-color: rgba(192, 211, 196, 0.50);
    --button-normal-color: #789D5C;
    --menu-letter-color: #A1A39A;
    --button-color: #297C35;
    --heading-text-color: #403D38;
    --placeholder-text-color: #A5A5A5;
    --star-color: #F1C644;
    --input-text-color: #D9D9D9;
    --input-color: #7DAD76;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Days One', sans-serif;
    background-color: var(--background-color);
    padding-top: 0;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;

}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 0.5rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1152px;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #E9E9E9;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
}

main {
    padding: 10rem 0;
}

footer {
    width: 100%;
    background-color: var(--primary-color);
}

.section-title-wrapper {
    width: 100%;
    background-color: var(--secondary-color);
    padding: 3.1rem 0;
    border-radius: 1.5rem;
}

.section-title {
    font-size: 5rem;
    color: var(--heading-text-color);
    text-align: center;
    font-weight: 400;

}

.section-title span {
    font-size: 5rem;
    color: #567E32;
}